@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.cards {
  margin: 10px;
}

.vishal {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 20px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  transition: 0.4s;
}

.card__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
  min-height: 300px;
}
.card__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
  padding: 1px;
}
.card__type {
  position: absolute;
  top: 0;
  right: 1em;
  transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
  font-size: medium;
}

.card-level {
  position: absolute;
  top: .25em;
  right: 0.3em;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 50%;
  background:#FFD700;
  width: 30px;
  height: 30px;
  padding-bottom: .5em;
}

.card__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__stats {
  margin: 1em 0;
  width: 100%;
}
.card__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: left;
  font-weight: 300;
}
.card__stats td {
  text-align: right;
}

.card__stats th, .card__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}
.card__abilities {
  display: flex;
  justify-content: space-between;
}
.card__ability {
  margin-top: 1em;
  flex: 1 0;
}
.card--normal {
  background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--normal .card__type {
  background-color: #C08A53;
}
.Intelligence {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
  box-shadow: 0px 5px 20px -10px #000851;
}
.Intelligence .card__type {
  background-color: #1CB5E0;
}
.card--electric {
  background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
}
.card--electric .card__type {
  background-color: #000;
}
.Strength {
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}
.Strength .card__type {
  background-color: #c71800;
}
.card--psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}
.card--psychic .card__type {
  background: #ff2cc3;
}
.card--dark {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}
.card--dark .card__type {
  background: #5c0249;
}
.Agility {
  background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
  transform: translateY(0px) rotate(1deg);
}
.Agility .card__type {
  background: #6e7f0e;
}
.card--ice {
  background: linear-gradient(230deg, #caeaf6 0%, #a0eaf1 46%, #6fb8eb 100%);
}
.card--ice .card__type {
  background: #6fb8eb;
}
.card--fairy {
  background: linear-gradient(45deg, #ffe6f0 0%, #ffc5e0 34%, #ffa6b9 71%, #ff8a95 100%);
}
.card--fairy .card__type {
  background: #ff8a95;
}
.vishal:nth-child(n+0) {
  transform: translateY(0px) rotate(-3deg);
}
.vishal:nth-child(2n+0) {
  transform: translateY(0px) rotate(1deg);
}
.vishal:nth-child(3n+0) {
  transform: translateY(0px) rotate(4deg);
}

.vishal:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  transform: translateY(-10px) scale(1.050);
}

.ability_image {
  height: 50px;
  width: 50px;
  margin: 3px;
}

.Item-image{
  height: 260px;
  width: 266px;
}

.col-form-label {
  color: white;
  border: solid white 1px;
}

.seed_form {
  margin-top: 5em;
}

.heading {
  margin-top: 50px;
  margin-left: 45%;
  color: white;
}